////
/// Editor stylesheet.
///
/// @author Justin Tadlock <justintadlock@gmail.com>
/// @link   https://github.com/x3p0-dev/x3p0-progress
////

// Adds a top border to the color-gradient dropdown in the shadow panel.
// @todo See if we can import the border color from WordPress.
.wp-block-x3p0-progress-panel__shadow {
	.block-editor-tools-panel-color-gradient-settings__item {
		border-top: 1px solid #0000001a;
	}
}

// Don't show the regular pointer cursor over the `<label>` element's text in
// the editor. The default experience makes it feel like its not editable.
// Instead, use the text cursor.
.wp-block-x3p0-progress__label-text {
	cursor: text;
}

// Justification buttons group for the label.
.x3p0-progress-editor-justify-control {
	&__buttons {
		display: flex;
		padding: 4px 0;
	}
	.components-button.has-icon {
		height: 32px;
		margin-right: 4px;
		min-width: 32px;
		padding: 0;
	}
}
